
@import url("https://fontsgoogleapis.com/csss?family=Lato|Raleway");

body {
  background-color: #fafafa;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  /* Заголовки */
  font-family: "Raleway";
  font-weight: 300;
  color: black;
}




p {
  line-height: 28px;
  margin-bottom: 25px;
}



.centered {
  text-align: center;
}





.menu {
  background-color: #c4c4c4;
  padding-bottom: 30px;
}




.str {
  display: flex;
  list-style-type: none;
  
}



.str li {
  margin: 0 100px;
  font-size: 30px;
  padding-top: 30px;
}



.str a {
  text-decoration: none;
  color: #7b7b7b;
}


.str a:hover {
  text-decoration: none;
  color: #acacac;
}



@media screen and (max-width: 1679px) {
  .str li {
    margin: 0 80px;
    font-size: 30px;
    padding-top: 30px;
  }
}






@media screen and (max-width: 1550px) {
  .str li {
    margin: 0 70px;
    font-size: 30px;
    padding-top: 30px;
  }
}



@media screen and (max-width: 1450px) {
  .str li {
    margin: 0 60px;
    font-size: 30px;
    padding-top: 30px;
  }
}





@media screen and (max-width: 1350px) {
  .str li {
    margin: 0 50px;
    font-size: 30px;
    padding-top: 30px;
  }
}




@media screen and (max-width: 1250px) {
  .str li {
    margin: 0 40px;
    font-size: 30px;
    padding-top: 30px;
  }
}





@media screen and (max-width: 1150px) {
  .str li {
    margin: 0 30px;
    font-size: 30px;
    padding-top: 30px;
  }
}




@media screen and (max-width: 1000px) {
  .str li {
    margin: 0 20px;
    font-size: 30px;
    padding-top: 30px;
  }
}



@media screen and (max-width: 900px) {
  .str li {
    margin: 0 30px;
    font-size: 20px;
    padding-top: 30px;
  }
}



@media screen and (max-width: 800px) {
  .str li {
    margin: 0 20px;
    font-size: 20px;
    padding-top: 30px;
  }
}






#glavnaya {
  background-image: url(../img/steampunk1.jpg);
  background-attachment: fixed;
  padding-top: 22px;
  margin-top: -10px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 1px;
  width: 100%;
  height: 500px;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px; 
}


